* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
input {
  outline: none;
}
button {
  cursor: pointer;
}
.logout {
  padding: 6px 12px;
  border: none;
  background-color: red;
  border-radius: 4px;
  color: #fff;
}
